---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Claudia Figueroa" description="About Claudia Figueroa Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Conoce más sobre mi formación académica y experiencia profesional."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Claudia Figueroa at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Formación Académica</h2>
				<div class="content">
					<p>
						Cuento con un Doctorado en Ciencias de la Educación de la UPTC y actualmente curso un Posdoctorado en Investigación cualitativa en la Universidad Nacional de Lima, Perú.
					</p>
					<p>
						Mi formación incluye una Maestría en Historia de la UPTC, una Licenciatura en Ciencias Sociales y Económicas de la UPTC (2004-2009), y una Especialización en Gestión Educativa de la Universidad de Pamplona. Además, soy Psicóloga egresada del Politécnico Gran Colombiano.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experiencia Profesional</h2>
				<div class="content">
					<p>
						Actualmente me desempeño como Docente de la Licenciatura en Psicopedagogía de la Universidad Pedagógica y Tecnológica de Colombia (UPTC). Como Investigadora Asociada de MINCIENCIAS, formo parte del Grupo de investigación HISULA, categorizado como A por COLCIENCIAS-UPTC.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Áreas de Especialización</h2>
				<div class="content">
					<p>
						Mi trabajo se centra en la intersección entre la psicopedagogía, la investigación cualitativa y las ciencias sociales, con un enfoque particular en la educación y el desarrollo humano.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
