---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Claudia Figueroa" description="About Claudia Figueroa Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Conoce más sobre mi formación académica y experiencia profesional."
			>
				<img
					width="480"
					height="620"
					src="/assets/portrait.jpg"
					alt="Claudia Figueroa sonriendo con una camisa roja a cuadros y gafas de carey"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Formación Académica</h2>
				<div class="content">
					<ul>
						<li>Doctorado en Ciencias de la Educación - UPTC</li>
						<li>Posdoctorado en Investigación cualitativa (en curso) - UNAL Lima, Perú</li>
						<li>Magister en Historia - UPTC</li>
						<li>Licenciada en Ciencias Sociales y Económicas (2004-2009) - UPTC</li>
						<li>Especialista en Gestión Educativa - Universidad de Pamplona</li>
						<li>Psicóloga - Politécnico Gran Colombiano</li>
					</ul>
				</div>
			</section>
			
			<section>
				<h2 class="section-title">Experiencia Profesional</h2>
				<div class="content">
					<ul>
						<li>Docente de la Licenciatura en Psicopedagogía - UPTC</li>
						<li>Investigadora Asociada MINCIENCIAS</li>
						<li>Miembro del Grupo de investigación HISULA - Categoría A COLCIENCIAS-UPTC</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
